<h1 class="search-title">search results</h1>
<div class="feed">
    <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2">
            <div class="tweet-title">
                <h3 class="pull-left">{{ search|count }} results for {{ query }}</h3>
                <i class="fa fa-times-circle fa-2x pull-right"></i>
            </div>
            {% for tweet in search %}
                <div class="tweet">
                    <div class="tweet-header">
                        <div class="row">
                            <div class="col-xs-10">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td width="60">
                                            <a href="javascript:;">
                                                <img class="tweet-thumb" src="{{ tweet.author.profile_image_url }}">
                                            </a>
                                        </td>
                                        <td style="vertical-align: middle">
                                            <a class="tweet-userlink" href="javascript:;">
                                                <div class="tweet-author">
                                                    {{ tweet.author.name }}
                                                </div>
                                                <div class="tweet-user">
                                                    @{{ tweet.author.screen_name }}
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-2" style="text-align: right;">
                                <i class="fa fa-twitter fa-lg text-aqua"></i>
                            </div>
                        </div>
                    </div>
                    <div class="tweet-content">
                        <p>{{ tweet.text }}</p>
                    </div>
                    <div class="tweet-footer">
                        <div class="tweet-links">
                            <span class="fa fa-lg fa-reply"></span>
                            <a href="javascript:;">Reply</a>
                            &nbsp;
                            <span class="fa fa-lg fa-retweet"></span>
                            <a href="javascript:;">Retweet</a>
                            &nbsp;
                            <span class="fa fa-lg fa-star"></span>
                            <a href="javascript:;">Favorite</a>
                            &nbsp;
                            <span class="fa fa-lg fa-ellipsis-h"></span>
                            <a href="javascript:;">More</a>
                        </div>
                        <div class="tweet-time">
                            {{ tweet.created_at.strftime('%I:%M %p - %d %b %Y') }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>